body {
  background-color:#F8F1E7;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  background-image:url('https://i.pinimg.com/originals/b3/3f/51/b33f514a596442186bac1162a1f56bd9.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
	margin: auto;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#message{ 
  color:#B53725;
  margin-top: -25px;
  margin-bottom: 55px;
  font-size: 30px;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
  margin: 0; 
  border:5px solid#E82426
}

div {
  border: 3px solid #E82426;
  background-color: antiquewhite;
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
  object-fit: contain;
  color: 
}

#reset-button { 
  margin: 30px;
  padding: auto; 
  background: #E82426;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#reset-button:hover {
  background: #B53725;
  text-decoration: none;
}

.heading {
  color:#E82426;
}